<a href="https://colab.research.google.com/github/Modhu54/myrepo/blob/main/Credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
# loading the dataset
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [7]:
# first 5 rows of dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [9]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
#checking the number of missing value
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
# distribution of legit and fraudulent transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This is highly unbalanced

0 --> Legit

1 --> Fraud

In [18]:
#seapating the class
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [19]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [20]:
# statiscal measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [21]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [22]:
# compare the values of two transaction
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Under Sampling

Build a sample dataset of legit transaction and fraud transaction

fraud transaction --> 492

In [24]:
legit_sample = legit.sample(n=492)

concatenate dataframes

In [25]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [26]:
new_dataset.head()

            Time         V1         V2  ...        V28    Amount  Class
260084  159393.0  -0.189599   0.268409  ...  -0.568058     24.98      0
1916      1474.0  -1.192261   0.929928  ...   0.227515      5.00      0
195037  130869.0  -0.023124   0.542273  ...   0.054141      9.99      0
274771  166198.0 -35.548539 -31.850484  ... -15.430084  25691.16      0
11814    20281.0   1.163678  -0.228594  ...   0.033086     11.85      0

[5 rows x 31 columns]

In [27]:
new_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [30]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [31]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      93717.825203 -0.108152 -0.087830  ...  0.047744 -0.025901  163.902541
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [34]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [35]:
print(X)

            Time         V1         V2  ...        V27        V28    Amount
260084  159393.0  -0.189599   0.268409  ...  -0.620455  -0.568058     24.98
1916      1474.0  -1.192261   0.929928  ...   0.122484   0.227515      5.00
195037  130869.0  -0.023124   0.542273  ...  -0.011367   0.054141      9.99
274771  166198.0 -35.548539 -31.850484  ...  31.612198 -15.430084  25691.16
11814    20281.0   1.163678  -0.228594  ...   0.089149   0.033086     11.85
...          ...        ...        ...  ...        ...        ...       ...
279863  169142.0  -1.927883   1.125653  ...   0.292680   0.147968    390.00
280143  169347.0   1.378559   1.289381  ...   0.389152   0.186637      0.76
280149  169351.0  -0.676143   1.126366  ...   0.385107   0.194361     77.89
281144  169966.0  -3.113832   0.585864  ...   0.884876  -0.253700    245.00
281674  170348.0   1.991976   0.158476  ...   0.002988  -0.015309     42.53

[984 rows x 30 columns]

In [36]:
print(Y)

260084    0
1916      0
195037    0
274771    0
11814     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into training & test data

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [39]:
print(X.shape, X_test.shape, X_train.shape)

(984, 30) (197, 30) (787, 30)

Model training

Logistic regression

In [43]:
model = LogisticRegression()

In [44]:
#training the model
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model evaluation

Accuracy

In [45]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [46]:
print('Accuracy on training data: ', training_data_accuracy)

Accuracy on training data:  0.9428208386277002

In [48]:
#accuracy on test data 
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [49]:
print('Accuracy on test data: ', test_data_accuracy)

Accuracy on test data:  0.9390862944162437